.content {
    display: flex;
    justify-content: flex-end;
}

.column-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.facets-container {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.facet-item {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.usa-container {
    width: 100%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.result-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 23%;
}

#result-toggle {
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
}

.result-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 600px;
    overflow: auto;
    border: 1px solid white;
    background: white;
}

.result-item {
    margin: 5px 0;
    /* border: 1px solid black; */
    padding: 2px;
    background: white;
}

.park-name {
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    color: steelblue;
}

.park-campsite {
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 5px;
}

.park-trail {
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 5px;
}

.park-activity {
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.state {
    fill:#c2d1ca;
}

.state-borders {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.months-title {
    display: block;
    text-align: center;
}

.months {
    display: block;
}

div.tooltip {
    position: absolute;
}

img.tooltip {
    width: 240px;
    height: 180px;
}

circle.park-circle {
    fill-opacity: 0.8;
    stroke: white;
    stroke-width: 1.5;
}

circle.highlight {
    fill-opacity: 0.8;
    stroke: white;
    stroke-width: 1.5;
}

#close-result {
    font-weight: bold;
}

.tips-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 23%;
}

.about {
    display: block;
    margin-left: 30px;
    text-align: justify;
}

#legend {
    width: 180px;
    height: 120px;
    margin-left: 30px;
    margin-bottom: 30px;
}

text.highlight {
    font-size: 12;
    font-family: sans-serif;
    font-weight: bold;
}
